*,
*::after,
*::before {
  --beige: #c9b590;
  --bg: #3b2b0d;

  margin: 0;
  text-decoration: none;

  scroll-behavior: smooth;
  transition: all .3s;

  scroll-margin-top: 4rem;
}

*::selection {
  background-color: black;
  color: white;
}

body.dark-mode *::selection {
  background-color: var(--beige);
  color: black;
}

body {
  background-color: white;
  font-family: adobe-caslon-pro, sans-serif;
  width: auto;
  padding-top: 0;
  font-size: 16px;
}

body.dark-mode {
  background-color: var(--bg);
  color: white;
}

#toup {
  display: flex;
  position: fixed;
  padding: 0;
  bottom: 1rem;
  right: .2rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
  z-index: 999999;
  transition: all .1s;
}

body.dark-mode #toup {
  background-color: var(--bg);
  color: white;
  border-color: white;
}

#toup:hover,
.darkmode:hover {
  transform: scale(1.15);
  border-radius: 25%;
}

/** ----- HEADER ----- */

#header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding: 10px;
  background-color: var(--beige);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 999999999;
  transition: opacity .3s ease;
  opacity: 1;
}

#header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding: 10px;
  background-color: var(--beige);
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 999999999;
  border-bottom: 2px black transparent;
  transition: all .3s;
  opacity: 0;
}

#header-fixed.fixed-header {
  position: fixed;
  display: flex;
  animation: fixed-animation 1s;
  border-bottom: 2px black solid;
  opacity: 1;
}

@keyframes fixed-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body.dark-mode #header {
  background-color: var(--bg);
  border-bottom: 2px white solid;
}

body.dark-mode #header-fixed {
  background-color: var(--bg);
  border-color: white;
}

.btn-header {
  margin-right: 1.25rem;
  display: flex;
  flex-direction: row;
}

.btn-h {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 5px;
  transition: all .1s;
}

body.dark-mode .btn-h {
  background-color: var(--bg);
  border-color: white;
}

.btn-h i {
  font-size: 1.5rem;
  color: black;
}

body.dark-mode .btn-h i {
  color: white;
}

.btn-h:hover {
  transform: scale(1.15);
  border-radius: 25%;
  cursor: pointer;
}

.btn-h:hover .cuadro-informacion {
  display: block;
  height: auto;
}

.cuadro-informacion {
  display: none;
  position: absolute;
  top: 110%;
  justify-content: center;
  min-width: 120%;
  padding: 5px;
  z-index: 99;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: white;
  border: 2px black solid;
  font-weight: bold;
  font-size: .7rem;
  border-radius: 1rem;
  transition: all 1s;
}

body.dark-mode .cuadro-informacion {
  background-color: var(--bg);
  border-color: white;
  color: white;
}

/* .cuadro-informacion::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px black solid;
} */

/** ----- HEAD ----- */
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.logo-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
  text-decoration: none;
}

.logo-head :hover {
  cursor: pointer;
}

.logo-head img {
  height: 5rem;
  margin: 0.625rem;
  border-radius: 50%;
}

.logo-dark {
  display: block;
}

.logo-light {
  display: none;
}

body.dark-mode .logo-dark {
  display: none;
}

body.dark-mode .logo-light {
  display: block;
}

.logo-head h2,
.logo-head h2 :hover {
  font-size: 1.875rem;
  color: black;
}

body.dark-mode a h2 {
  color: white;
}

.logo-head .text-logo-head h6 {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2rem;
}

body.dark-mode a .text-logo-head h6 {
  color: white;
}

.logo-head .text-logo-head hr {
  height: 2px;
  background-color: black;
  width: 65%;
  border: none;
  margin: 1rem auto;
  margin-left: 0;
  margin-top: 5px;
}

body.dark-mode a .text-logo-head hr {
  background-color: white;
}

.nav-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.li-nav {
  position: relative;
  margin-right: 1rem;
}

.li-nav a {
  text-decoration: none;
  color: black;
}

body.dark-mode .li-nav a {
  color: white;
}

.li-nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.list-ap-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
}

.li-nav:hover .list-ap-container {
  display: block;
  height: auto;
}

.list-ap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  list-style-type: none;
  z-index: 999;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  animation: fadeIn .3s;
}

body.dark-mode .list-ap {
  background-color: var(--bg);
  border-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list-ap li {
  width: 100%;
}

.list-ap li a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

body.dark-mode .list-ap li a {
  color: white;
}

.list-ap li a:hover {
  text-decoration: underline;
}

.list-ap hr {
  height: 1px;
  background-color: black;
  width: 50%;
  border: none;
  margin: auto;
}

body.dark-mode .list-ap hr {
  background-color: white;
}


/** ----- SLIDER ----- */
.img-slider {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.img-slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.img-slider-item.active {
  opacity: 1;
}

.img-slider-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

body.dark-mode .img-slider-item img {
  opacity: 0.3;
}

.img-slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
  margin: 0 auto;
}

body.dark-mode .text-slider {
  color: white;
}

.p-slider,
.h-slider {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.h-slider {
  /* font-weight: bolder; */
  text-decoration: underline;
}

#list-slider {
  list-style-type: none;
}

#list-slider hr {
  width: 10%;
  margin: 10px auto;
}

#raya-slider {
  color: var(--beige);
}

/** Cuadros Informacion General */
.box-iac {
  border: black 2px solid;
  border-radius: 1rem;
  background-color: var(--beige);

  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0.625rem auto;
  justify-content: center;
  text-align: justify;
  padding: 1.25rem;
  color: black;
  font-family: sans-serif;
}

body.dark-mode .box-iac {
  border-color: white;
  background-color: var(--bg);
  color: white;
}

.box-iac-section h2 {
  width: 100%;
  text-align: center;
}


.box-iac-section ul {
  margin-left: 10px;
  line-height: 2rem;
  list-style-type: none;
  padding: 0;
}

.box-iac-section ul li {
  margin: 1.25rem 0;
}

.box-iac-section hr {
  height: 2px;
  background-color: black;
  width: 50%;
  border: none;
  margin: 1rem auto;
}

body.dark-mode .box-iac-section hr {
  background-color: white;
}

.limites-box-iac {
  display: block;
  width: 70%;
  margin: auto;
}

.inter-ul li {
  list-style-type: circle;
}

.titular-container {
  display: block;
  width: 100%;
}

.titular-container img {
  float: right;
  width: 25%;
  height: auto;
  margin-left: 1rem;
  border: 2px black solid;
  border-radius: 1rem;
}

.titular-container ul {
  margin-right: 1rem;
}

/** FOOTER */
#footer {
  background-color: var(--beige);
  z-index: 999999999;
  border-top: 2px black solid;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.left-footer,
.center-footer,
.right-footer {
  display: flex;
  justify-content: center;
}

.left-footer {
  align-items: start;
  flex-direction: column;
  text-align: start;
  grid-column: 1;
}

.center-footer {
  align-items: center;
  flex-direction: row;
  text-align: center;
  grid-column: 2;
}

.right-footer {
  align-items: center;
  flex-direction: column;
  text-align: center;
  grid-column: 3;
}

.logo-footer {
  align-items: center;
  justify-content: center;
}

.logo-footer img {
  width: 4rem;
  border-radius: 50%;
}

/* .logo-footer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo-footer img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-footer h2 {
  color: black;
  font-size: 1.5rem;
}

body.dark-mode .logo-footer h2 {
  color: white;
}

.logo-footer h6 {
  font-size: 1rem;
  letter-spacing: 1.5rem;
  margin-bottom: 5px;
  color: black;
}

body.dark-mode .logo-footer h6 {
  color: white;
}

.logo-footer hr{
  height: 2px;
  background-color: black;
  width: 100%;
  border: none;
  margin: 1rem auto;
  margin-left: 0;
  margin-top: 5px;
}

body.dark-mode .logo-footer hr {
  background-color: white;
} */

body.dark-mode #footer {
  background: var(--bg);
  color: white;
  border-color: white;
}